services:
  app:
    build:
      context: "."
      target: app-local
    networks:
      - template
    volumes:
      - ./:/app

  web:
    build:
      context: "."
      target: web-local
    volumes:
      - ./public/:/app/public
    ports:
      - "8080:8080"
    networks:
      - template
    depends_on:
      app:
        condition: service_started

networks:
  template:
    driver: bridge